<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body class="index_page">
    <h1 class="header h1">Welcome to U Corp.</h1>
    <h2 class="header h2">
      We are a company that specialize in
      <b
        >installing, updating and maintainance of mobile and decktop applications
        and software.</b
      >
    </h2>
    <div class="index">
      <h3 class="header h3">Meet the team....</h3>
        <% for(let i = 0; i < staff.length; i++){ %>
          <ul> 
              <a href="/staffs/<%=staff[i].id%>"><li class="name">Name: <%=staff[i].name%></li></a>
              <li class="position">Position: <%=staff[i].position%></li> <br>
              <a class="editbtn" href="/staffs/<%=staff[i].id%>/edit">Edit</a>
              <form action="/staffs/<%=staff[i].id%>?_method=DELETE" method="POST"> <br>
                <input class="delete" type="submit" value="DELETE"> <br>
              </form>
          </ul>
        <% } %>
      <p><a href ='/staffs/new'>Add New Staff</a></p> 
    </div> 
  </body>
</html>
