<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Employee Info Wall</h1>
    <div class="info-wall">
        <h2><%=staff.name%></h2>
        <h2><%=staff.position%></h2>
        <p>Age: <%=staff.age%></p>
        <p>Years at U Corp: <%=staff.yearsAtCompany%></p>
        <p>Hometown: <%=staff.hometown%></p>
    </div>
    <a href="/staffs">Return to home</a>
  </body>
</html>
